<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active px-3">
          <a routerLink="/users/create" routerLinkActive="active">Create Users<span class="sr-only"></span></a>
          
        </li>
        <li class="nav-item">
          <a routerLink="/users/view" routerLinkActive="active">View All Users</a>
          
        </li>
       
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>